<% provide :title, t(".name") %>
<h1><%= t ".name" %></h1>
<p>
  <%= link_to t(".intro"), "http://www.railstutorial.org/help" %>
  <%= link_to t(".sample"), "http://www.railstutorial.org/book" %>
</p>
