# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 15bf9a58d1023e9e3e8a31ad08c8136a9701150be955b0f43e6ea5c0e2d7280b84933538c0846071b33a7e2332129a68c8f4b7e0360e4fc31692a4b1c1261ebe

test:
  secret_key_base: d5ff29908646bf2508ce557c125aefe405495ce7aa9a47b88066f0546db21f86e5f1217fa926b2d1837ea88b92b80e3ce06deb6b2c0105c6880efedb83dff87f

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
